.cube {
  position: relative;
  @include option(width, 1px);
  @include option(height, 1px);
  transform-style: preserve-3d;
  transition: transform .5s linear;
  user-select: none;
  pointer-events: none;
  background: green;


  &__side {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    @include option(width, 200px);
    @include option(height, 200px);
    @include option(font-size, 30px);
    color: $WHITE;
    background: $BLACK;
    opacity: .6;
    border: 3px solid $WHITE;
    box-sizing: border-box;
    &_1 {
      top: 0;
      left: 50%;
      transform: translate3d(-50%,-50%,100px);
    }
    &_2 {
      top: 0;
      left: 50%;
      transform: translate3d(0%,-50%,0px) rotateY(90deg);
    }
    &_3 {
      top: 0;
      left: 50%;
      transform: translate3d(-50%,-50%,-100px) rotateY(180deg);
    }
    &_4 {
      top: 0;
      left: 50%;
      transform: translate3d(-100%,-50%,0px) rotateY(-90deg);
    }
    &_5 {
      top: 0;
      left: 50%;
      transform: translate3d(-50%,-100%,0px) rotateX(90deg);
    }
    &_6 {
      top: 0;
      left: 50%;
      transform: translate3d(-50%,0%,0px) rotateX(90deg) rotateY(-180deg);
    }
  }

  &__active-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    @include option(width, 350px);
    @include option(height, 350px);
    background: red;
    cursor: pointer;
  }
}
