mixin cube(content,params)
    .cube&attributes()
        .cube__side.cube__side_1 1
        .cube__side.cube__side_2 2
        .cube__side.cube__side_3 3
        .cube__side.cube__side_4 4
        .cube__side.cube__side_5 5
        .cube__side.cube__side_6 6